.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Table */

th{
  border:solid 2px;
  text-align: center;
}
td{
  border:solid 2px;
  text-align: none;
}

.vcs-table{
  font-family: sans-serif;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  transition: all 0.5s ease 0s;
  margin-right: 41.5%;
}

.table-div{
  float: left;
}

.vcs-table td{
  border: 2px solid rgb(173, 170, 170);
  padding: 8px;
}
.vcs-table th{
  border: 2px solid rgb(32, 163, 224);;
  background-color: rgb(32, 163, 224);
  color: white;
  padding: 8px;
}

.vcs-table:nth-child(even){background-color: #f2f2f2;color:black}

.vcs-table{
  margin-top: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(226, 226, 226);
  color: black;
  
}

/* Input */

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}
.effect-1{text-indent: 10px; border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;margin: 20px;}

input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #333; width: 20%; box-sizing: border-box; letter-spacing: 1px;}
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 20%; box-sizing: border-box; letter-spacing: 1px;}

/* Buttons */

.button {
  display: inline-flex;
  height: 40px;
  float: left;
  width: 150px;
  border: 2px solid #BFC0C0;
  color: #000;
  background-color: rgb(32, 163, 224);
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  margin-left: 40%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.button:hover {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  background-color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 3px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.button2 {
  display: inline-flex;
  height: 40px;
  width: 150px;
  float: left;
  border: 2px solid #BFC0C0;
  color: #000;
  background-color: rgb(231, 130, 35);
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}

.button2:hover {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  background-color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 3px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}